.container {
  max-width: 1200px;
  min-width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--mail-title-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.link > p {
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-submit {
  width: 200px;
  height: 50px;
  color: var(--mail-title-color);
  margin-left: 12px;
  padding: 1px 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.06em;
  align-items: center;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0px;
}

.button-submit:hover, .button-submit:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199px) {
  .button-submit {
    margin-left: auto;
    margin-right: auto;
  }
}

.submit-svg {
  margin-left: 10px;
  background-image: url("../Images/send.svg");
}

@media screen and (min-width: 1200px) {
  .botton-form {
    display: flex;
    margin-top: 20px;
  }
}

.button {
  text-transform: none;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.close-button {
  width: 18px;
  height: 18px;
  transition: var(--time-animation);
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.header-button {
  border: none;
  fill: var(--color-black);
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .header-button {
    display: none;
  }
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.hover {
  transition-duration: var(--time-animation);
  transition-timing-function: var(--timing-function);
}

.hover:hover, .hover:focus {
  color: var(--mail-title-color);
  fill: var(--mail-title-color);
}

.navigations .hover {
  font-weight: 500;
}

.form-icon {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  top: 50%;
  transition: fill 250ms var(--timing-function);
}

.icon-check {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  transition: var(--time-animation);
  transition: var(--timing-function);
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .icon-check {
    margin-right: 8px;
  }
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  background-image: url("../Images/check.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 15px 16px;
  border: none;
}

.checkbox:hover .icon-check,
.checkbox:focus .icon-check {
  border-color: var(--accent-color);
  animation: var(--time-animation);
}

.icon-checkt:hover,
.icon-check:focus
.footer-submit:hover,
.footer-submit:focus {
  border-color: var(--accent-color);
  animation: var(--time-animation);
}

.soc-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.our-team-list {
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portrets--card {
  background-color: var(--fon-color);
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .portrets--card {
    flex-basis: calc(100%/2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portrets--card {
    flex-basis: calc(100%/4 - 30px);
  }
}

.our-team-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.our-team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.soc-link .link {
  justify-content: center;
  align-items: center;
}

.social-item li + li {
  margin-left: 10px;
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.our-team {
  padding: 30px 32px;
}

.our-team-sections {
  background-color: var(--our-team);
}

.our-team {
  display: block;
  background-color: var(--mail-title-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.soc-link:hover svg,
.soc-link:focus svg {
  fill: var(--mail-title-color);
}

.soc-link .link {
  justify-content: center;
  align-items: center;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-item li + li {
  margin-left: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .social-links {
    width: 206px;
  }
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.social-links li + li {
  margin-left: 10px;
}

.soc-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--main-color);
  display: block;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--main-color);
  display: block;
}

.logo-footer span {
  color: var(--accent-color);
}

.logo span {
  color: var(--accent-color);
}

.icon-check:hover,
.icon-check:focus,
.footer-submit:hover,
.footer-submit:focus {
  border-color: var(--accent-color);
  animation: var(--time-animation);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
  color: var(--mail-title-color);
}

.footer-mail, .footer-tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.address-footer-link {
  padding-left: 0px;
}

.icon-footer {
  fill: var(--mail-title-color);
}

.soc-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:focus,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-form {
  flex-grow: 2;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-title {
  color: var(--mail-title-color);
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--mail-title-color);
}

.footer-sections {
  background-color: var(--footer-color);
  padding: 60px 0px;
  color: var(--fon-color);
}

.container-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    margin-right: 165px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mail-title-color);
  margin-bottom: 20px;
}

.posicion-foot {
  align-items: baseline;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .posicion-foot {
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .posicion-foot {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    justify-content: center;
  }
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--mail-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-text {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-text > li {
  margin-left: 0px;
  margin-right: 0px;
}

.bottom--address {
  margin-top: 20px;
}

ul .address--write:not(:last-child) {
  margin-bottom: 9px;
}

.footer-sections .logo-footer {
  color: var(--mail-title-color);
}

.footer-submit {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  padding: 15px 16px;
  color: var(--secondary-text-color);
  outline: none;
  transition-property: border;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    max-width: 358px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer-submit {
    margin-bottom: 20px;
    width: 450px;
  }
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 1200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

.hang {
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hang {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .hang {
    display: flex;
    flex: content;
  }
}

.hang + .hang {
  margin-left: 30px;
}

.hang-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-title-color);
}

@media screen and (max-width: 767px) {
  .hang-title {
    text-align: center;
  }
}

.hang-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.we-puncts {
  flex-basis: calc(100%/4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-position: center;
}

.cont-icon {
  display: flex;
  max-width: 450px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--background-we);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .cont-icon {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-icon {
    width: 270px;
    height: 120px;
  }
}

.img-icon {
  text-align: center;
  fill: var(--main-text-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.navigation-pages-header {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top {
  min-height: 60px;
  justify-content: space-between;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header-right li + li {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-right .hover {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-right .hover {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .header-right .hover {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.for-down {
  padding-bottom: 21px;
}

.for-top {
  padding-top: 21px;
  margin-bottom: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
  min-height: 60px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

.icon {
  fill: #AFB1B8;
}

.icon.soc-icon {
  fill: var(--mail-title-color);
}

.icon-client {
  fill: var(--color-icon);
}

.icon-header {
  margin-right: 10px;
}

.item-icon a:hover svg,
.item-icon a:focus svg,
.link:focus svg,
.link:hover svg,
.social-item:hover svg,
.social-item:focus svg {
  fill: var(--accent-color);
}

.soc-link:hover svg,
.soc-link:focus svg {
  fill: var(--mail-title-color);
}

.contacts-nav {
  margin-left: auto;
  align-items: center;
}

.flex-element {
  width: 380px;
  margin-right: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-black);
  font-family: 'Raleway', sans-serif;
}

.padding-header-logo {
  padding: 16px 0px;
}

@media screen and (min-width: 768px) {
  .padding-header-logo {
    padding: 26px 0px;
  }
}

@media screen and (min-width: 768px) {
  .padding-header-logo {
    padding: 24px 0px;
  }
}

.header-mail,
.header-tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--secondary-text-color);
}

.notactive:hover,
.notactive:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.notactive {
  color: var(--main-text-color);
  position: relative;
}

.active-alltime {
  color: var(--accent-color);
}

.navigations {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigations {
    display: none;
  }
}

.header-link + .header-link {
  margin-left: 50px;
}

.header-right {
  margin-left: auto;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-right {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-right {
    flex-wrap: wrap;
    margin-left: auto;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-right {
    display: flex;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.cell-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.notactive::after {
  content: "";
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 0;
  position: absolute;
  transition: 250ms var(--timing-function);
  transform: scaleX(0);
  border-radius: 2px;
}

.notactive:hover::after,
.notactive:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.active-alltime::before {
  content: "";
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 1;
  position: absolute;
  transition: 250ms var(--timing-function);
  transform: scaleX(1);
  border-radius: 2px;
}

.header-button-svg {
  fill: var(--color-black);
}

.js-menu-container.is-open {
  transform: translateX(0%);
}

.js-menu-container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  position: fixed;
  z-index: 34;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform: translateX(101%);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.navigation-li {
  list-style-type: none;
}

.navigation-list .navigation-li:not(:last-child) {
  margin-bottom: 32px;
}

.curent {
  color: var(--accent-color);
}

.menu-conteiner-navigation {
  flex-grow: 1;
  margin-bottom: 20px;
}

.list-adress-link {
  margin-bottom: 32px;
}

.list-adress {
  margin-bottom: 64px;
}

.menu-conteiner-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: calc(1em + 2vw);
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-conteiner-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: calc(1em + 3vw);
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.container-app {
  display: flex;
  flex-wrap: wrap;
}

.list-app {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.list-app + .list-app {
  margin-left: 10px;
}

.link-app {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.hero {
  background-color: var(--hero);
  background-color: #2f303a;
  box-sizing: border-box;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Images/Header-tel@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 767px;
  height: 400px;
  justify-content: center;
  background-size: cover;
}

@media not all, (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/Header-tel@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: url(./../Images/Header-tablet@1x-min.jpg);
    background-size: cover;
  }
}

@media not all, screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/Header-tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    line-height: 1.4;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(./../Images/Header-desctop@1x-min.jpg);
  }
}

@media not all, screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/Header-tablet@2x-min.jpg);
  }
}

.hero-idea {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mail-title-color);
  margin-bottom: 30px;
  margin-top: 0px;
}

@media screen and (min-width: 1200px) {
  .hero-idea {
    font-size: 44px;
  }
}

.hero-the-background {
  padding: 200px;
}

.call-back {
  margin-bottom: 12px;
  margin-right: 5%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form-modak {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form-modak {
    width: 530px;
    min-height: 580px;
    padding: 40px;
  }
}

.input-style {
  width: 100%;
  outline: none;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-style:hover ~ svg,
.input-style:focus ~ svg {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.input-style:hover,
.input-style:focus {
  border-color: var(--accent-color);
  transition: var(--time-animation);
}

.modal-lable {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.agreement a {
  text-decoration: underline;
  color: var(--accent-color);
  justify-content: center;
  margin-left: 3px;
}

.form-coments {
  outline: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  margin-top: 4px;
}

.form-coments:hover, .form-coments:focus {
  border-color: var(--accent-color);
}

.check-label {
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  color: var(--secondary-text-color);
  display: inline-block;
}

@media screen and (min-width: 450px) {
  .check-label {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1199px) {
  .check-label {
    display: flex;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 40px 20px 40px 20px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 94%;
    min-height: 609px;
    padding: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    padding: 40px;
  }
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--mail-title-color);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0px;
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.content-img + .content-img {
  margin-left: 30px;
}

.pictures-img {
  position: relative;
}

.photo-content-title {
  margin-bottom: 50px;
}

.photo {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .photo {
    display: flex;
  }
}

.pictures {
  display: flex;
}

.content-text {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.box-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.portfolio__filter-text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter-text {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter-text {
    margin-bottom: 50px;
  }
}

.portfolio__filter-link {
  margin: 0px 4px 15px 4px;
}

.portfolio__filter-button {
  padding: 6px 20px;
  background-color: var(--our-team);
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto';
  transition-timing-function: var(--timing-function);
  transition-duration: var(--time-animation);
}

.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  background-color: var(--accent-color);
  color: var(--mail-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__filter-down {
  background-color: var(--accent-color);
  color: var(--mail-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio__cell-filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio__sait {
  flex-basis: calc(100%/1 - 30px);
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) {
  .portfolio__sait {
    margin-left: 30px;
    flex-basis: calc(100%/2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__sait {
    flex-basis: calc(100%/3 - 30px);
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .portfolio__overlay {
    display: flex;
  }
}

.portfolio__overlay-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(calc(50% + 168px));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--mail-title-color);
  background: rgba(33, 150, 243, 0.9);
}

.portfolio__sait-hover:hover .portfolio__overlay-text,
.portfolio__sait-hover:focus .portfolio__overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.portfolio__thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform: translateY(calc(50% + 150px));
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio__sait-title {
  color: var(--secondary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}

.portfolio__sait-tipe {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.portfolio__sait-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__sait-hover {
  display: block;
}

.portfolio__sait-hover:hover, .portfolio__sait-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding: 94px 0;
  }
}

.regular-customers {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients {
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  flex-basis: calc(100%/2 - 30px);
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
  }
}

.item-client {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100%/2 - 30px);
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-client {
    flex-basis: calc(100%/3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .item-client {
    flex-basis: calc(100%/6 - 30px);
  }
}

.clients li + li {
  margin-left: 30px;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .link-client {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .link-client {
    width: 170px;
    height: 92px;
  }
}

.link-client:hover, .link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.link-client:hover svg,
.link-client:focus svg {
  fill: var(--accent-color);
}

:root {
  --mail-title-color: #ffffff ;
  --secondary-title-color:#212121 ;
  --main-text-color:#212121 ;
  --secondary-text-color:#757575;
  --accent-color: #2196F3;
  --our-team:#F5F4FA;
  --footer-color:#2F303A;
  --background-color-section: #2F303A;
  --color-black:black;
  --hero:#2F303A;
  --border-color: #eeeeee;
  --background-we:#F5F4FA;
  --color-icon: #afb1b8;
  --time-animation: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */