.hero{
    background-color:var(--hero);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    background-image:url(../Images/Header-tel@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width:1600px;
    max-height: 600px;
    height: 400px;
    max-width: 480px;
    justify-content: center;

    @media screen and (min-width:768px){
        max-width: 768px;
        background-image:url(./../Images/Header-tablet@1x-min.jpg);
    }

    @media screen and (min-width:1200px){
        max-width: 1200px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:url(./../Images/Header-desctop@1x-min.jpg);
    }
    }
    
.hero-idea{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--mail-title-color);
    margin-bottom: 30px;
    margin-top: 0px;
    
    @media screen and (min-width: 1200px){
        font-size: 44px;
    }
}
    
.hero-the-background{
        padding: 200px;
    }


.call-back{
    margin: 0 0 12px 0 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    }

.form-modak{
    padding: 40px;
    width: 530px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}

.input-style{
    width: 100%;
    outline: none;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-style:hover~svg,
.input-style:focus~svg{
    fill: var(--accent-color);
    transition: fill 250ms var(--timing-function);
}
        
.input-style:hover, 
.input-style:focus{
    border-color: var(--accent-color);
    transition: var(--time-animation);
}
    
.modal-lable{
    position: relative;
    display: block;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
    }
    
.agreement{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-left: auto;
    margin-right: auto;
    position: relative;

& a{
    text-decoration: underline;
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    }
}
    
.form-coments{
    outline: none;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 10px;
    resize: none;
    margin-top: 4px;

    &:hover,
    &:focus{
    border-color: var(--accent-color)   ;
    }
}

.check-label{
    display: flex;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;

    color: var(--secondary-text-color);
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(1.1);
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    min-width: 528px;
    min-height: 581px;
  
    background: #ffffff;
    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms var(--timing-function);
  }
  
  .hero-button{
    background-color: var(--accent-color);
    color: var(--mail-title-color);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;

        &:hover,
        &:focus { 
            background-color: #188ce8;
        }
    }








