
.content-img + .content-img{
    margin-left: 30px;
}

.pictures-img{
    position: relative;
}

.photo-content-title{
    margin-bottom: 50px;
}

.photo{
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px)   {
        display: flex;
    }
}

.pictures{
    display: flex;
}

.content-text{
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.box-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    }





