.portfolio{

}
.portfolio__name{
    
}
.portfolio__filter-text{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    & > li{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.portfolio__filter-link + .portfolio__filter-link{
    margin-left: 8px;
}

.portfolio__filter-button{
    padding: 6px 20px;
    background-color: var(--our-team);
    border: 0px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    cursor: pointer;
    text-align: center; 
    font-family: 'Roboto';
    transition-timing-function: var(--timing-function);
    transition-duration: var(--time-animation);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--mail-title-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__filter-down{
    background-color: var(--accent-color);
    color: var(--mail-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0,0.12);
}

.portfolio__cell-filter{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio__sait{
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
   
}

.portfolio__overlay{
    position: relative;
    display: flex;
    overflow: hidden;
}

.portfolio__overlay-text{ 
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    opacity: 0;

    transform: translateY(calc(50% + 168px));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--mail-title-color);
    background:  rgba(33, 150, 243, 0.9);

    .portfolio__sait-hover:hover &,
    .portfolio__sait-hover:focus & {
        opacity: 1;
        transform: translateY(0%);
    }
}

.portfolio__thumb::before{
    display: inline-block;
    position: absolute;
    content: "";
   
    width: 100%;
    height: 100%;
    transform: translateY(calc(50% + 150px));
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio{
    display: flex;
    flex-direction: column;
}