.soc-link:hover svg,
.soc-link:focus svg {
    fill: var(--mail-title-color);
  }

  .soc-link .link{
    justify-content: center;
    align-items: center;
}

.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;}


 .social-item li + li {
     margin-left: 10px;
 }

 .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  
    list-style: none;

    @media screen and (min-width: 768px){
        width: 206px;
    }
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.social-links li + li{
    margin-left: 10px;
}
.soc-container {
    display: flex;
    justify-content: center;

    margin-top: 16px;
  }

  .logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: block;

    @media screen and (min-width:768px) {
        margin-right: 88px;
    }
    @media screen and (min-width:1200px) {
        margin-right: 93px;
    }
}

.logo-footer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: block;
}

.logo-footer span {
    color: var(--accent-color);
}

.logo span {
    color: var(--accent-color);
}

.icon-check:hover,
.icon-check:focus,
.footer-submit:hover,
.footer-submit:focus{
    border-color: var(--accent-color);
    animation: var(--time-animation);
}
