:root {
    --mail-title-color: #ffffff ;
    --secondary-title-color:#212121 ; 
    --main-text-color:#212121 ;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --our-team:#F5F4FA;
    --footer-color:#2F303A;
    --background-color-section: #2F303A;
    --color-black:black; 
    --hero:#2F303A;
    --border-color: #eeeeee;
    --background-we:#F5F4FA;
    --color-icon: #afb1b8;

    --time-animation: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
